@import '~/assets/scss/resources.scss';

footer {
  padding: 0;
  margin: 0;
}

.container-fluid {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.container-row {
  min-height: 230px;
  display: flex;
  flex-wrap: wrap;
  margin: 0 -15px;
}

.layer {
  position: relative;
  background: $mainBackgroundColor;
  box-shadow: rem(10) 0 rem(10) rgba(0, 0, 0, 0.25);
  border-radius: 0 rem(20) 0 0;
  z-index: 0;
  display: flex;
  align-items: center;

  &-4 {
    right: 0;
    top: 0;
    height: 230px;
    margin: 0;
    padding: 0;
  }

  &-3 {
    height: 220px;
    left: 0;
    bottom: 0;
    z-index: 1;
    justify-content: flex-end;
    flex-basis: 75%;
    max-width: 75%;
  }

  &-2 {
    height: 210px;
    left: 0;
    bottom: 0;
    z-index: 2;
    justify-content: flex-end;
    flex-basis: 50%;
    max-width: 50%;
  }

  &-1 {
    height: 200px;
    left: 0;
    bottom: 0;
    z-index: 3;
  }

  &-4, &-3, &-2, &-1 {
    position: absolute;
    width: 100%;
    flex-grow: 0;
    flex-shrink: 0;
  }

  &-3, &-2, &-1 {
    padding: 0 15px;
  }

  &-4, &-1 {
    justify-content: center;
    flex-basis: 25%;
    max-width: 25%;
  }

  &__text {
    height: rem(125);
    flex-direction: column;
    justify-content: space-between;
    padding: 0;
    margin-right: 1rem;

    a {
      text-decoration: none;
      font-family: $mainFontBold;
      font-size: rem(24);
      line-height: rem(28);
      text-transform: uppercase;
      color: $lightSecondaryFont;

      #terms-policy {
        width: 145px;
      }
    }
  }
}

.footer-icons {
  position: relative;
  width: 161px;
  height: 161px;
  margin: 0;
  padding: 0;

  &__cross {
    position: absolute;
  }

  &__facebook {
    position: absolute;
    top: 7px;
    right: 27px;
  }

  &__youtube {
    position: absolute;
    right: 11px;
    bottom: 15px;
  }

  &__vkontakte {
    position: absolute;
    left: 7px;
    top: 15px;
  }

  &__instagram {
    position: absolute;
    left: 8px;
    bottom: 10px;
  }
}

.footer-logo {
  font-family: $logoFont;
  font-size: rem(96);
  line-height: rem(102);
  color: #FFFFFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  text-transform: initial;
}

@media screen and (max-width: $mdWidth) {
  .layer {
    &-4, &-3, &-2, &-1 {
      flex-basis: 50%;
      max-width: 50%;
      position: relative;
      z-index: inherit;
      height: 185px;
    }

    &-3, &-2 {
      justify-content: center;
    }

    &-1, &-3 {
      border-radius: 0;
    }
  }
  .footer-logo {
    font-size: rem(76);
    line-height: rem(76);
  }
}

@media screen and (max-width: $smWidth) {
  .layer {
    border-radius: rem(20) rem(20) 0 0;

    &-4, &-3, &-2, &-1 {
      flex-basis: 100%;
      max-width: 100%;
      height: 185px;
    }

    &-3, &-2 {
      height: 95px;
      justify-content: flex-start;
    }

    &-3 {
      box-shadow: none;
      border-radius: 0;
    }

    &-1 {
      order: 1;
    }

    &__text {
      flex-direction: column;
      justify-content: space-evenly;

      a {
        #terms-policy {
          width: 286px;
        }
      }
    }
  }
}
