@import '~/assets/scss/resources.scss';

.top-block {
  position: relative;
  overflow: hidden;

  &__heading {
    font-family: $mainFontBold;
    font-weight: 900;
    font-size: rem(50);
    line-height: rem(59);
    color: #62CEBB;
    text-shadow: 0 rem(10) rem(10) rgba(0, 0, 0, 0.25);
    &-small {
      display: block;
      padding: 0;
      margin: -4% 0 0 0;
      font-size: 20px;
    }
  }

  &__btn {
    &-block {
      @include common-button-style;
      width: rem(300);
    }
  }
}

.clearfix__block {
  height: rem(105);
}

@media screen and (max-width: $lgWidth) {
  .clearfix__block {
    height: rem(55);
  }

}
@media screen and (max-width: $mdWidth) {
  .clearfix__block {
    height: rem(45);
  }
  .top-block__btn {
    justify-content: end;
  }
}
@media screen and (max-width: $smWidth) {
  .clearfix__block {
    display: none;
  }
  .top-block {
    &__content {
      margin: 2rem;
    }
    &__heading {
      font-size: rem(30);
      line-height: rem(30);
      &-small {
        display: block;
        padding: 0;
        margin: -5% 0 0 0;
        font-size: rem(15);
      }
    }
    &__btn {
      margin-top: 2rem;
      justify-content: center!important;
      &-block {
        width: rem(220);
        height: rem(50);
        font-size: rem(18);
        line-height: rem(25);
      }

    }
  }
}
@media screen and (max-width: $xsWidth) {
  font-size: $xsMainFontSize;
}
