.learning-material-btn{
  background: #62CEBB;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 375px;
  height: 100px;
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
}
.learning-material-btn:hover{
  text-decoration: none;
  color: #FFFFFF;
}
