@import '~/assets/scss/resources.scss';

.user-signed-in {
  @include element-fully-centred;
}

.header-award {
  @include common-button-style;
  width: rem(180);
  height: rem(80);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.sign-in-btn {
  @include common-button-style;
  width: rem(200);
  height: rem(60);
}

.sign-out-btn {
  @include common-button-style;
  width: 120px;
  height: 80px;
}

.cabinet-btn {
  @include common-button-style;
  width: 150px;
  height: 80px;
}

.header_bg {
  background: $mainBackgroundColor;
}

.logo-block {
  margin-top: -1.5%;
  margin-left: 1rem;
}


.logo-text {
  @include logotype;
}

/* ЭТОТ блок стилей изменится после выхода мобильной версии макета */
@media screen and (max-width: $smWidth) {
  .user-signed-in {
    margin-top: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .logo-text {
    font-size: 56px;
    line-height: 62px;
  }
  .sign-in-btn {
    margin: 2rem 0;
    width: 150px;
    height: 40px;
    font-size: 18px;
    line-height: 22px;
  }
  .logo-block {
    margin-left: 1rem;
  }
}
