.popup-message {
  position: absolute;
  width: 300px;
  min-height: 100%;
  background: #fff;
  border-radius: 5px;
  color: #000;
  top: 0;
  right: -310px;
}
.popup-message:before {
  content: "";
  position: absolute;
  right: 100%;
  top: 10px;
  border: 9px solid transparent;
  border-right-color: #fff;
}