@import '~/assets/scss/resources.scss';

.middle-block {
  position: relative;
  z-index: 2;
  height: 1040px;
  background-image: linear-gradient(to bottom, transparent, #0A477D 34%, #0A477D 63%, transparent);
  margin-top: -370px;
  margin-bottom: -400px;

  &__content {
    position: absolute;
    top: 182px;
    color: $mainPageText;
  }

  &__flex {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
  }

  &__icon {

  }

  &__text {
    display: block;
    font-weight: 900;
    font-size: 32px;
    line-height: 46px;
    margin: 0;

    &-small {
      font-weight: 900;
      font-size: 24px;
      line-height: 33px;
      margin-bottom: 1.5rem;
    }
  }

  &__span {
    &-1 {
      margin-left: 372px;
    }

    &-2 {
      margin-left: 151px;
    }

    &-3 {
      margin-left: 105px;
    }

    &-4 {
      margin-left: 205px;
    }

    &-5 {
      margin-left: 114px;
    }

    &-6 {
      margin-left: 475px;
    }

    &-7 {
      margin-left: 252px;
    }

    &-8 {
      margin-left: 73px;
    }

    &-9 {
      margin-left: 561px;
    }
  }
}

.middle-block__mobile {
  display: none;
}

// локальный миксин - не применим для других страниц
@mixin mobile-screen {
  .middle-block {
    height: 500px;
    margin-top: -220px;
    margin-bottom: -120px;
    background-image: linear-gradient(to bottom, transparent, #0A477D 40%, #0A477D 78%, transparent);

    &__content {
      padding: 0.5rem;
      top: 10px;
    }

    &__flex {
      margin: 0 0 1rem 0;
    }

    &__icon {
      transform: scale(0.7);
    }

    &__text {
      font-weight: 700;
      font-size: 15px;
      line-height: 22px;

      &-small {
        margin: 0 0 1rem 0;
        font-weight: 700;
        font-size: 15px;
        line-height: 22px;
      }
    }
  }
}

// локальный миксин - не применим для других страниц
@mixin tablets {
  .middle-block {
    &__text {
      font-size: 30px;
      line-height: 34px;

      &-small {
        font-size: 26px;
        line-height: 30px;
      }
    }
  }
}

@media screen and (orientation: landscape) and (max-width: $xlWidth) {
  @include mobile-screen
}

@media screen and (orientation: landscape) and (max-width: $lgWidth) {
  @include mobile-screen
}

@media screen and (max-width: $xlWidth) {
  @include mobile-screen;
  @include tablets;
}

@media screen and (max-width: $lgWidth) {
  @include mobile-screen;
  @include tablets;

}

@media screen and (max-width: $mdWidth) {
  @include mobile-screen;
  @include tablets;

}

@media screen and (max-width: $smWidth) {
  @include mobile-screen;
  .middle-block__content {
    display: none;
  }
  .middle-block__mobile {
    display: block;
    height: 550px;
    overflow: hidden;
    background-image: linear-gradient(to bottom, transparent, #0A477D 16%, #0A477D 73%, transparent);
  }
  .middle-block__slides {
    width: 100%;
    margin-top: 75px;
  }
  .middle-block__swipe {
    height: 120px;
    display: flex;
    padding-top: 30px;
    justify-content: center;
    align-content: center;
  }

}
