.sign-in-btn {
  width: 200px;
  height: 60px;
  background: #62CEBB;
  border: 3px solid #D9D4D4;
  box-sizing: border-box;
  box-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 20px;
  font-family: 'Raleway', serif;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 28px;
  color: #09467D;
  margin-right: 105px;
}
.user-pic {
  height: 50px;
}

.header_bg {
  height: 90px;
  background: #0A477D;
}

.logo-text {
  position: absolute;
  font-family: 'Earwig Factory', serif;
  font-style: normal;
  font-weight: normal;
  font-size: 96px;
  line-height: 102px;
  color: #FFFFFF;
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.25);
  width: 175px;
  height: 102px;
  left: 163px;
  top: -16.77px;
}