.learning-material-btn{
  background: #62CEBB;
  border-radius: 10px;
  margin-left: 20px;
  margin-bottom: 20px;
}
.learning-material-link{
  font-family: Raleway, sans-serif;
  font-style: normal;
  color: #0A477D;
}
.learning-material-link:hover{
  text-decoration: none;
  color: #FFFFFF;
}