.auth-modal {
  background: #E5E5E5!important;
  color: #FFFFFF;
  &__body {
    background: #97999A!important;
  }
}
.auth-form {
  &__link {
    color: #FFFFFF;
    cursor: pointer;
  }
  &__input-cover {
    position: relative;
    z-index: 0;
  }
  &__show-password {
    position: absolute;
    z-index: 9999;
    top: 15.62%;
    bottom: 15.62%;
    right: 3%;
  }
  &__input-eye {
    width: 25px;
    height: 25px;
  }
  &__input-custom {
    padding-right: 40px!important;
  }
  &__close {
    position: absolute;
    top: -6%;
    right: 0;
    color: #FFFFFF;
  }
}

