.forgot-password-modal {
  background: #E5E5E5!important;
  color: #FFFFFF;
  &__body {
    background: #97999A!important;
  }
}
.forgot-password-form {
  &__link {
    color: #FFFFFF;
  }
  &__close {
    position: absolute;
    top: -6%;
    right: 0;
    color: #FFFFFF;
  }
}