@font-face {
  font-family: 'Raleway';
  src: url('./assets/fonts/Raleway-Regular.ttf');
  src: url('./assets/fonts/Raleway-Regular.ttf?iefix') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Raleway bold';
  src: url('./assets/fonts/Raleway-Bold.ttf');
  src: url('./assets/fonts/Raleway-Bold.ttf?iefix') format('truetype');
  font-weight: bold;
  font-style: normal;
}