/* базовый размер шрифта */
$xlMainFontSize: 18px;
$lgMainFontSize: 16px;
$mdMainFontSize: 15px;
$smMainFontSize: 14px;
$xsMainFontSize: 12px;

/* размеры экранов для медиазапросов */
$xlWidth: 1280px;
$lgWidth: 992px;
$mdWidth: 768px;
$smWidth: 480px;
$xsWidth: 320px;

