/* базовый размер шрифта */
$xlMainFontSize: 18px;
$lgMainFontSize: 16px;
$mdMainFontSize: 15px;
$smMainFontSize: 14px;
$xsMainFontSize: 12px;

/* размеры экранов для медиазапросов */
$xlWidth: 1280px;
$lgWidth: 992px;
$mdWidth: 768px;
$smWidth: 480px;
$xsWidth: 320px;

/* шрифты: */
$mainFont: 'Raleway', serif;
$mainFontBold: 'Raleway bold', serif;
$logoFont: 'Earwig Factory', serif;

/* цвета шрифтов: */
$mainFont: #0A477D;
$lightSecondaryFont: #D9D4D4;
$mainPageText: #62CEBB;

/* цвета фонов: */
$mainBackgroundColor: #0A477D;
$commonButtonBackGroundColor: #62CEBB;
$commonBackLayerPageColor: #E5E5E5;

